
.cart {
    width: 100vw;
    margin: 0 auto;
  }
  .cart-container{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


  
.priceTotal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceTotal button{
    color: black;
    font-weight: bold;
    background-color: aquamarine;
    border-radius: 5px;
}