
.contact-form {
    width: 60%;
    max-width: 4080px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #77240f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #cc4c37;
  }
  