
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
  .main-container {
    /* top: 50px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; /* Smooth transition between slides */
  }
  
  .centered-text {
    text-align: center;
    color: rgb(56, 240, 0);
  }
  