.account-container { 
  
}
  

.container {
  padding-top: 90px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.user-profile-container h2 {
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
