.account-container { 
  width: 100vw;
  height: 100vh;
}
  

.container {
  padding-top: 90px;
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  height: 60%;
  /* padding: 20px; */
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  width: 25%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px; /* Add margin-top to create space between buttons and user profile */
}
.footer-sec {
  margin-top: auto; 
  bottom: 0;
  position: absolute; 
  width: 100%;
}
.user-profile-container h2 {
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

